.name{
    font-family: "Verdana", sans-serif; 
    font-style: italic;
    background-color: bisque;
    margin: 5px;
    border-radius: 4px;    

}

.container{
    width: 350px;
    display: flex-box;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;    
    margin: 10px;
    border-radius: 6px;
    padding: 15px;
    background-color: rgb(236, 244, 245);
}
