img{
    max-width: 200px;
    max-height: 350px;
    margin: 5px;
}

#profile-container{
    background-color: rgba(0, 0, 0, 0.863);
    max-width: 500px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: white;
}

#view-profile-card{
    align-content: center;
    margin-bottom: 5em;
}