
<div class="input-group">
    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileChanged($event)">
    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="upload()">Upload</button>
</div>
<!-- <input id="upload-file" class="form-control" type="file" (change)="onFileChanged($event)">
<button id="upload-btn" class="btn btn-success" (click)="upload()">Upload!</button>
<div>{{response.message}}</div>
<img [src]="response.data" /> -->